<!DOCTYPE html>
<html>
<head>
  <style>
    input[type=text], input[type=number]{
      width: 25%;
      padding: 5px 15px;
      margin: auto;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
 
  input[type=submit]{
      width: 10%;
      padding: 5px 15px;
      margin: auto;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      vertical-align: middle;
                border: burlywood;
                border-radius: 4px;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 10px 10px;
                cursor: pointer;
                width: 25%;
                background-color: #04AA6D;
    }

  form{
      width: 250 px;
      margin:0 auto;
    }
  
  body {
    background-image: url('/images/driving.JPG');
    background-repeat: no-repeat;
    background-size: cover;
       }
  </style>
  <script type="text/javascript" src="/validation/covid.js"></script>
</head>


<body align = 'center'>
<form action='/paymentPageRenewDL' method="POST">
  <div style="border: solid;width:600px;background-color: white;opacity: 0.85;margin-left: 340px;height:700px;margin-top: 50px;">
    <h2 style="margin-top: 40px;">Driving Licence Details</h2><br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray;width:80%">
    {{#each licDetails}}
     <div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="DrivingLicenceNumber" >Driving Licence Number:</label>
        </th>
        <th>
           <input type="text" id="dNumber" name = 'dNumber' style="width: 150px;" value={{this._id}}  readonly="True">
        </th>  
      </tr>
    </table>
  </div>
  <div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="Name" >Name:</label>
        </th>
        <th>
           <input type="text" id="Name" name = 'Name' style="width: 150px;" value="{{this.Name}}"  readonly="True">
        </th>
        
      </tr>
    </table>
  </div>
 <div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="dob">Date of birth:</label>
        </th>
        <th>
          {{this.DateOfBirth}}
        </th>
        
      </tr>
    </table>
  </div>
  <div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="address">Address:</label>
        </th>
        <th>
		<textarea id="address" name="address"  value="{{this.Address}}"  readonly="True">
            {{this.Address}}
        </textarea>

        </th>
    
      </tr>
    </table> 
  </div>
  <div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="issueDate">Issue Date:</label>
        </th>
        <th>
           {{this.IssueDate}}
        </th>
    
      </tr>
    </table>
	</div>
	<div style="margin-top: 30px;margin-left: 150px;">
    <table>
      <tr>
        <th style="width: 120px;">
          <label for="expiryDate">Expiry Date</label>
        </th>
        <th>
            {{this.ExpiryDate}}
        </th>
    
      </tr>
    </table>
	</div>  
    <div style="margin-top: 30px;">
    
     <input type="submit" value="Renew">
    </div>
	</div>
    {{/each}}
    
</form>
</body>
</html>

